<h3>Update Team Information</h3>
<br />
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="{{ mytest }}" />
    </label>
  </div>
  <div>
    <label>
      Championships:
      <input
        formControlName="championships"
        type="number"
        placeholder="championships"
      />
    </label>
  </div>
  <div>
    <label>
      Name Coahe:
      <input formControlName="namecoache" placeholder="name coache" />
    </label>
  </div>
  <div>
    <label>
      Position:
      <input formControlName="position" type="string" placeholder="position" />
    </label>
  </div>
  <br />
  <button>Update Nba Team</button>
</form>
