<br />
<nav>
  <div id="menu">
    <button routerLink="/">Home</button>
    <button routerLink="/nba">Get List</button>
    <button routerLink="/addOne">Add Team</button>
    <button routerLink="/register">Register New User</button>
  </div>
  <div id="menu2">
    <app-login></app-login>
  </div>
</nav>

<!--
<div id="login">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        UserName:
        <input formControlName="username" placeholder="Username" />
      </label>

      <label>
        Password:
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </label>

      <button id="btnlogin">Login</button>
    </div>
  </form>
</div>
-->
